--background-color: #1a110f;
--dark-background-color: #140c0a;
--darker-background-color: #231917;
--almost-black: #f1dfd9;
--border: #53433f;
--darker-gray: #a08d87;
--lil-darker-gray: #d8c2bb;
--light-gray: #ffdbcf;
--default-text-color: #f1dfd9;
--new-tweet-over: #322825;
--input-background: #271d1a;
--active-message: #5d4036;
--more-color: #d6c68d;
--choice-bg: #322825;
--list-actions-bg: #3d322f;
--menu-bg: #231917;